.serach{
    width: 100%;
    padding: 24rpx 26rpx;
    box-sizing: border-box;
    .serach-history{
        margin: 0 26rpx;
        color: #666666;
        font-size: 28rpx;
        text{
            height: 40rpx;
            line-height: 40rpx;
        }
        .history-title{
            color: #999999;
            font-size: 24rpx;
        }
        .history-content{
            margin: 0 10rpx;
            letter-spacing: 2rpx;
        }
    }
}