// page {
//     background-color: #fff8f1;
// }

.mine {
    width: 100%;
    color: #707070;

    .user-info {
        height: 320rpx;
        text-align: center;

        .user-avator {
            width: 140rpx;
            height: 140rpx;
            border-radius: 50%;
            margin: 70rpx 0 20rpx;
        }

        .user-name {
            font-size: 30rpx;
        }
    }

    .mine-order-info {
        width: 100%;
        padding-top: 20rpx;
        background-color: #fff;
        border-radius: 36rpx 36rpx 0 0;
        box-shadow: 0 -2rpx 15rpx rgba(165, 160, 160, 0.5);
        // position: fixed;
        // top: 320rpx;

        .my-order {
            // height: 650rpx;
            padding-bottom: 100rpx;
            box-sizing: border-box;
            // height: auto;
            // overflow: auto;

            .order-view {
                border: 1rpx solid #F2F2F2;
            }

        }

        .comment-list {
            // height: 620rpx;
            // overflow: auto;
            padding-bottom: 100rpx;

            // .comment-item {
            //     font-size: 30rpx;
            //     padding: 24rpx;
            //     box-sizing: border-box;
            //     border: 1rpx solid #E4E4E4;

            //     .user {
            //         display: flex;
            //         align-items: center;
            //         margin-bottom: 24rpx;

            //         image {
            //             width: 64rpx;
            //             height: 64rpx;
            //             border-radius: 50%;
            //             margin-right: 24rpx;
            //         }

            //         .user-name {
            //             flex: 5;
            //         }

            //         .comment-date {
            //             color: #BBBBBB;
            //             font-size: 22rpx;
            //             flex: 1;
            //         }
            //     }
            // }
        }
    }

    // 去掉默认的遮罩层
    van-overlay {
        van-transition {
            view {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    // 自定义遮罩层
    .shadow {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .block {
        position: relative;
        width: 670rpx;
        height: 550rpx;
        border-radius: 44rpx;
        border-top: 8rpx solid #F7CBAE;
        background-color: #fff;
        padding: 40rpx 0;
        box-sizing: border-box;
        .closeIcon {
            width: 72rpx;
            height: 72rpx;
            position: absolute;
            right: 0;
            top: -108rpx;
            &::before {
                content: "";
                position: absolute;
                display: inline-block;
                width: 2rpx;
                height: 36rpx;
                background-color: #e7e5e4;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 0);
            }

            image {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }

        .order-start-time {
            margin: 38rpx 0 70rpx 38rpx;
            color: #666;
            font-size: 28rpx;
            text{
                margin-left: 18rpx;
            }
        }

        .to-comment {
            position: absolute;
            display: inline-block;
            font-size: 28rpx;
            padding: 18rpx 70rpx;
            background-color: #FCC39E;
            color: #fff;
            border-radius: 38rpx;
            right: 68rpx;
            bottom: 40rpx;
        }

        // 发表评价部分样式
       .comment-input{
           margin: 36rpx 34rpx;
           font-size: 30rpx;
           height: 250rpx;
           color: #999999;
       }
    }
}